@model Cadeteria.ViewModels.CadeteViewModel

@{
    ViewData["Title"] = "Alta de cadetes";
}

<section>
    <article>
        <form asp-controller="Cadetes" asp-action="Cargar_Cadete" method="POST">
            <fieldset>
                <legend>Insertar un nuevo cadete</legend>

                <label asp-for="@Model.Nombre">Nombre: </label>
                    <input asp-for="@Model.Nombre" type="text" required></input>
                <span class="form-control" asp-validation-for="@Model.Nombre" ></span>

                <label asp-for="@Model.Telefono">Telefono: </label>
                    <input asp-for="@Model.Telefono" type="tel" required></input>
                <span class="form-control" asp-validation-for="@Model.Telefono" ></span> 

                <label asp-for="@Model.Domicilio" >Domicilio: </label>
                    <input asp-for="@Model.Domicilio" type="text" required></input>
                <span class="form-control" asp-validation-for="@Model.Domicilio" ></span>


                <input type="submit" value="Enviar">
            </fieldset>
        </form>           
    </article>
</section>

@section Scripts { <partial name="_ValidationScriptsPartial" /> } 
